html{
	height: 100%;
	width: 100%;
}
body{
	background: #dddddd;
	font-family: Comic Sans MS, Arial, sans-serif;
	float: left;
	height: 100%;
	line-height: 1.25;
	margin: 0;
	overflow: hidden;
	width: 100%;
}
.buttonList{
	background: white;
	height: 50%;
	padding: 8px;
	width: calc(100% - 16px);
}
	.buttonList button{
		background: white;
		border: 1px solid #777777;
		border-radius: 10px;
		color: #777777;
		font-size: 18px;
		font-weight: bold;
		margin: 10px 8px;
		outline: none;
		padding: 8px 20px;
	}
		.buttonList button:hover{
			background: #777777;
			color: white;
		}


/* 基础遮罩层样式 */
.overlay {
	background: rgba(153,204,51,0.9);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
	.overlay .overlay_close {
		background: url(cross.png) no-repeat center center;
		border: none;
		color: transparent;
		height: 80px;
		overflow: hidden;
		outline: none;
		position: absolute;
		right: 20px;
		text-indent: 200%;
		top: 20px;
		width: 80px;
		z-index: 100;
	}
	.overlay nav {
		font-size: 54px;
		height: 60%;
		position: relative;
		text-align: center;
		top: 50%;
		
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.overlay ul {
		display: inline-block;
		height: 100%;
		list-style: none;
		margin: 0 auto;
		padding: 0;
		position: relative;
	}
		.overlay ul li {
			display: block;
			height: 20%;
			height: 20%;
			min-height: 54px;
		}
			.overlay ul li a {
				color: #fff;
				display: block;
				font-weight: 300;
				text-decoration: none;
				
				-webkit-transition: color 0.2s;
				transition: color 0.2s;
			}
			.overlay ul li a:hover,
			.overlay ul li a:focus {
				color: #e3fcb1;
			}
.overlay_hide{
	display: none;
}
.overlay_visibility{
	opacity: 0;         /* 增加透明度 */
	visibility: hidden; /* 隐藏元素，但可以点击下侧层的内容 */
}
.overlay_visibility.open {
	opacity: 1;
	visibility: visible;
}
.overlay_svg{
	opacity: 0;         /* 增加透明度 */
	visibility: hidden; /* 隐藏元素，但可以点击下侧层的内容 */
}
	.overlay_svg.open {
		opacity: 1;
		visibility: visible;
	}



/* 从上往下滚入，从上往下滚出 */
.overlay_scroll1 {
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}
	.overlay_scroll1.open {
		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
	}
	.overlay_scroll1 nav {
		/* 拉远点距离能看出3D效果 */
		-webkit-perspective: 1200px;
		perspective: 1200px;
	}
		.overlay_scroll1 nav ul {
			opacity: 0.4;
			
			-webkit-transform: translateY(-25%) rotateX(45deg);
			transform: translateY(-25%) rotateX(45deg);
			
			-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
			transition: transform 0.5s, opacity 0.5s;
		}
		.overlay_scroll1.open nav ul {
			opacity: 1;
			
			-webkit-transform: rotateX(0deg);
			transform: rotateX(0deg);
		}
		.overlay_scroll1.close nav ul {
			-webkit-transform: translateY(25%) rotateX(-45deg);
			transform: translateY(25%) rotateX(-45deg);
		}


/* 从右下往左上滚入，原路滚出 */
.overlay_scroll2 {
	-webkit-transform: translateX(300px) translateY(200px);
	transform: translateX(300px) translateY(200px);
	
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s, -webkit-transform 0.5S;
	transition: opacity 0.5s, visibility 0s 0.5s, transform 0.5S;
}
	.overlay_scroll2.open {
		-webkit-transform: translateX(0px) translateY(0px);
		transform: translateX(0px) translateY(0px);
		
		-webkit-transition: opacity 0.5s, -webkit-transform 0.5S;
		transition: opacity 0.5s, transform 0.5S;
	}


/* 放大展示，缩小隐藏 */
.overlay_scale {
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
	
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s, -webkit-transform 0.5S;
	transition: opacity 0.5s, visibility 0s 0.5s, transform 0.5S;
}
	.overlay_scale.open {
		-webkit-transform: scale(1);
		transform: scale(1);
		
		-webkit-transition: opacity 0.5s, -webkit-transform 0.5S;
		transition: opacity 0.5s, transform 0.5S;
	}


/* 横向打开 */
.overlay_widthChange {
	opacity: 1;
	left: 50%;
	width: 0;
	
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	
	-webkit-transition: width 0.5S, visibility 0s 0.8s;
	transition: width 0.5S, visibility 0s 0.8s;
}
	.overlay_widthChange nav, .overlay_widthChange .overlay-close {
		opacity: 0;
		-webkit-transition: opacity 0.3s;
		transition: opacity 0.3s;
	}
	.overlay_widthChange.open {
		width: 100%;
		
		-webkit-transition: width 0.5S;
		transition: width 0.5S;
	}
		.overlay_widthChange.open nav, .overlay_widthChange.open .overlay-close {
			opacity: 1;
			-webkit-transition-delay: 0.3s;
			transition-delay: 0.3s;
		}


/* 左侧推入推出 */
.overlay_waitPushRight .buttonList{
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	
	-webkit-transition: -webkit-transform 0.5S;
	transition: transform 0.5S;
}
	.overlay_waitPushRight .buttonList:after{
		background-color: black;
		content: "";
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		width: 100%;
		
		-webkit-transition: opacity 0.5S;
		transition: opacity 0.5S;
	}
	.overlay_waitPushRight.overlay_pushRight .buttonList{
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
		.overlay_waitPushRight.overlay_pushRight .buttonList:after{
			opacity: 0.5;
		}
.overlay_waitPushRight .overlay_visibility{
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5S, visibility 0s 0.5s;
	transition: opacity 0.5s, transform 0.5S, visibility 0s 0.5s;
}
	.overlay_waitPushRight.overlay_pushRight .overlay_visibility.open{
		-webkit-transform: translateX(0);
		transform: translateX(0);
		
		-webkit-transition: opacity 0.5s, -webkit-transform 0.5S;
		transition: opacity 0.5s, transform 0.5S;
	}


/* 缩小并从下侧推入，放大并从下侧推出 */
.overlay_waitPushTop .buttonList{
	-webkit-transform: scale(1);
	transform: scale(1);
	
	-webkit-transition: -webkit-transform 0.5S;
	transition: transform 0.5S;
}
	.overlay_waitPushTop.overlay_pushTop .buttonList{
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
.overlay_waitPushTop .overlay_visibility{
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5S, visibility 0s 0.5s;
	transition: opacity 0.5s, transform 0.5S, visibility 0s 0.5s;
}
	.overlay_waitPushTop.overlay_pushTop .overlay_visibility.open{
		-webkit-transform: translateY(0);
		transform: translateY(0);
		
		-webkit-transition: opacity 0.5s, -webkit-transform 0.5S;
		transition: opacity 0.5s, transform 0.5S;
	}


/* 右上角翻页 */
.overlay_svg{

}
	.overlay_svg path{
		fill: rgba(153,204,51,0.9);
	}
















