*{ float: left; }
.part{ margin: 30px; }

/* 鼠标移入展示 */
.list1{
	--range: 36;
	
	background-color: #494a5f;
	border-radius: 150px;
	height: 250px;
	position: relative;
	width: 250px;
}
	.list1 .listCenter{
		background-color: white;
		border-radius: 50px;
		cursor: pointer;
		height: 100px;
		left: 75px;
		position: absolute;
		top: 75px;
		width: 100px;
	}
		.list1:hover .listCenter{
			background-color: #d1d2d7;
		}
		.list1 .listCenter span{
			color: #99b977;
			cursor: pointer;
			font-size: 30px;
			font-weight: bolder;
			left: 0;
			position: absolute;
			text-align: center;
			top: 27px;
			width: 100%;
		}
	.list1 .listMenu {
		list-style: none;
		margin: 125px;
		padding: 0;
		position: relative;
	}
		.list1 .listMenu li{
			background-color: white;
			border-radius: 25px;
			cursor: pointer;
			height: 50px;
			left: -25px;
			opacity: 0;
			position: absolute;
			top: -120px;
			width: 50px;
			
			-ms-transform-origin: 25px 120px; 		/* IE 9 */
			-webkit-transform-origin: 25px 120px;	/* Safari 和 Chrome */
			-moz-transform-origin: 25px 120px;		/* Firefox */
			-o-transform-origin: 25px 120px;		/* Opera */
			
			-ms-transform: scale(0) rotate(0deg); 	  /* IE 9 */
			-moz-transform: scale(0) rotate(0deg); 	  /* Firefox */
			-webkit-transform: scale(0) rotate(0deg); /* Safari 和 Chrome */
			-o-transform: scale(0) rotate(0deg); 	  /* Opera */
			transform: scale(0) rotate(0deg);
			
			-moz-transition: -moz-transform linear .2s, opacity linear .2s;    /* Firefox 4 */
			-webkit-transition: -webkit-transform linear .2s, opacity linear .2s; /* Safari 和 Chrome */
			-o-transition: -o-transform linear .2s, opacity linear .2s;      /* Opera */
			transition: transform linear .2s, opacity linear .2s;
		}
			.list1:hover .listMenu li{
				opacity: 1;
			}
			.list1 .listMenu li a{
				color: #99b977;
				float: left;
				font-size: 20px;
				line-height: 20px;
				margin: 15px 0;
				text-align: center;
				text-decoration: none;
				width: 100%;
			}
			.list1:hover .listMenu li:nth-child(1){
				-ms-transform: scale(1) rotate(calc(var(--range)*0deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*0deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*0deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*0deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*0deg));
				
			}
			.list1:hover .listMenu li:nth-child(2){
				-ms-transform: scale(1) rotate(calc(var(--range)*1deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*1deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*1deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*1deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*1deg));
				
				-moz-transition-delay: .01s;    /* Firefox 4 */
				-webkit-transition-delay: .01s; /* Safari 和 Chrome */
				-o-transition-delay: .01s;      /* Opera */
				transition-delay: .01s;
			}
			.list1:hover .listMenu li:nth-child(3){
				-ms-transform: scale(1) rotate(calc(var(--range)*2deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*2deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*2deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*2deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*2deg));
				
				-moz-transition-delay: .02s;    /* Firefox 4 */
				-webkit-transition-delay: .02s; /* Safari 和 Chrome */
				-o-transition-delay: .02s;      /* Opera */
				transition-delay: .02s;
			}
			.list1:hover .listMenu li:nth-child(4){
				-ms-transform: scale(1) rotate(calc(var(--range)*3deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*3deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*3deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*3deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*3deg));
				
				-moz-transition-delay: .03s;    /* Firefox 4 */
				-webkit-transition-delay: .03s; /* Safari 和 Chrome */
				-o-transition-delay: .03s;      /* Opera */
				transition-delay: .03s;
			}
			.list1:hover .listMenu li:nth-child(5){
				-ms-transform: scale(1) rotate(calc(var(--range)*4deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*4deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*4deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*4deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*4deg));
				
				-moz-transition-delay: .04s;    /* Firefox 4 */
				-webkit-transition-delay: .04s; /* Safari 和 Chrome */
				-o-transition-delay: .04s;      /* Opera */
				transition-delay: .04s;
				
			}
			.list1:hover .listMenu li:nth-child(6){
				-ms-transform: scale(1) rotate(calc(var(--range)*5deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*5deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*5deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*5deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*5deg));
				
				-moz-transition-delay: .05s;    /* Firefox 4 */
				-webkit-transition-delay: .05s; /* Safari 和 Chrome */
				-o-transition-delay: .05s;      /* Opera */
				transition-delay: .05s;
				
			}
			.list1:hover .listMenu li:nth-child(7){
				-ms-transform: scale(1) rotate(calc(var(--range)*6deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*6deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*6deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*6deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*6deg));
				
				-moz-transition-delay: .06s;    /* Firefox 4 */
				-webkit-transition-delay: .06s; /* Safari 和 Chrome */
				-o-transition-delay: .06s;      /* Opera */
				transition-delay: .06s;
				
			}
			.list1:hover .listMenu li:nth-child(8){
				-ms-transform: scale(1) rotate(calc(var(--range)*7deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*7deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*7deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*7deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*7deg));
				
				-moz-transition-delay: .07s;    /* Firefox 4 */
				-webkit-transition-delay: .07s; /* Safari 和 Chrome */
				-o-transition-delay: .07s;      /* Opera */
				transition-delay: .07s;
				
			}
			.list1:hover .listMenu li:nth-child(9){
				-ms-transform: scale(1) rotate(calc(var(--range)*8deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*8deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*8deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*8deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*8deg));
				
				-moz-transition-delay: .08s;    /* Firefox 4 */
				-webkit-transition-delay: .08s; /* Safari 和 Chrome */
				-o-transition-delay: .08s;      /* Opera */
				transition-delay: .08s;
			}
			.list1:hover .listMenu li:nth-child(10){
				-ms-transform: scale(1) rotate(calc(var(--range)*9deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*9deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*9deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*9deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*9deg));
				
				-moz-transition-delay: .09s;    /* Firefox 4 */
				-webkit-transition-delay: .09s; /* Safari 和 Chrome */
				-o-transition-delay: .09s;      /* Opera */
				transition-delay: .09s;
			}


/* 点击展示，点击隐藏 */
.list2{
	--range: 36;
	
	background-color: #494a5f;
	border-radius: 150px;
	height: 250px;
	position: relative;
	width: 250px;
}
	.list2 .listCenter{
		background-color: white;
		border-radius: 50px;
		cursor: pointer;
		height: 100px;
		left: 75px;
		position: absolute;
		top: 75px;
		width: 100px;
	}
		.list2.show .listCenter{
			background-color: #d1d2d7;
		}
		.list2 .listCenter span{
			color: #99b977;
			cursor: pointer;
			font-size: 30px;
			font-weight: bolder;
			left: 0;
			position: absolute;
			text-align: center;
			top: 27px;
			width: 100%;
		}
	.list2 .listMenu {
		list-style: none;
		margin: 125px;
		padding: 0;
		position: relative;
		
		-ms-transform-origin: 0 0; 		/* IE 9 */
		-webkit-transform-origin: 0 0;	/* Safari 和 Chrome */
		-moz-transform-origin: 0 0;		/* Firefox */
		-o-transform-origin: 0 0;		/* Opera */
		
		-ms-transform: scale(0) rotate(-360deg); 	  /* IE 9 */
		-moz-transform: scale(0) rotate(-360deg); 	  /* Firefox */
		-webkit-transform: scale(0) rotate(-360deg); /* Safari 和 Chrome */
		-o-transform: scale(0) rotate(-360deg); 	  /* Opera */
		transform: scale(0) rotate(-360deg);
		
		-moz-transition: -moz-transform linear .5s;    /* Firefox 4 */
		-webkit-transition: -webkit-transform linear .5s; /* Safari 和 Chrome */
		-o-transition: -o-transform linear .5s;      /* Opera */
		transition: transform linear .5s;
	}
		.list2.show .listMenu{
			-ms-transform: scale(1) rotate(0deg); 	  /* IE 9 */
			-moz-transform: scale(1) rotate(0deg); 	  /* Firefox */
			-webkit-transform: scale(1) rotate(0deg); /* Safari 和 Chrome */
			-o-transform: scale(1) rotate(0deg); 	  /* Opera */
			transform: scale(1) rotate(0deg);
		}
		.list2 .listMenu li{
			background-color: white;
			border-radius: 25px;
			cursor: pointer;
			height: 50px;
			left: -25px;
			position: absolute;
			top: -120px;
			width: 50px;
			
			-ms-transform-origin: 25px 120px; 		/* IE 9 */
			-webkit-transform-origin: 25px 120px;	/* Safari 和 Chrome */
			-moz-transform-origin: 25px 120px;		/* Firefox */
			-o-transform-origin: 25px 120px;		/* Opera */
			
			-ms-transform:  rotate(0deg); 	  /* IE 9 */
			-moz-transform: rotate(0deg); 	  /* Firefox */
			-webkit-transform: rotate(0deg); /* Safari 和 Chrome */
			-o-transform: rotate(0deg); 	  /* Opera */
			transform: rotate(0deg);
		}
			.list2 .listMenu li a{
				color: #99b977;
				float: left;
				font-size: 20px;
				line-height: 20px;
				margin: 15px 0;
				text-align: center;
				text-decoration: none;
				width: 100%;
			}
			.list2 .listMenu li:nth-child(1){
				-ms-transform: scale(1) rotate(calc(var(--range)*0deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*0deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*0deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*0deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*0deg));
				
			}
			.list2 .listMenu li:nth-child(2){
				-ms-transform: scale(1) rotate(calc(var(--range)*1deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*1deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*1deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*1deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*1deg));
				
				-moz-transition-delay: .01s;    /* Firefox 4 */
				-webkit-transition-delay: .01s; /* Safari 和 Chrome */
				-o-transition-delay: .01s;      /* Opera */
				transition-delay: .01s;
			}
			.list2 .listMenu li:nth-child(3){
				-ms-transform: scale(1) rotate(calc(var(--range)*2deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*2deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*2deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*2deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*2deg));
				
				-moz-transition-delay: .02s;    /* Firefox 4 */
				-webkit-transition-delay: .02s; /* Safari 和 Chrome */
				-o-transition-delay: .02s;      /* Opera */
				transition-delay: .02s;
			}
			.list2 .listMenu li:nth-child(4){
				-ms-transform: scale(1) rotate(calc(var(--range)*3deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*3deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*3deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*3deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*3deg));
				
				-moz-transition-delay: .03s;    /* Firefox 4 */
				-webkit-transition-delay: .03s; /* Safari 和 Chrome */
				-o-transition-delay: .03s;      /* Opera */
				transition-delay: .03s;
			}
			.list2 .listMenu li:nth-child(5){
				-ms-transform: scale(1) rotate(calc(var(--range)*4deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*4deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*4deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*4deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*4deg));
				
				-moz-transition-delay: .04s;    /* Firefox 4 */
				-webkit-transition-delay: .04s; /* Safari 和 Chrome */
				-o-transition-delay: .04s;      /* Opera */
				transition-delay: .04s;
				
			}
			.list2 .listMenu li:nth-child(6){
				-ms-transform: scale(1) rotate(calc(var(--range)*5deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*5deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*5deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*5deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*5deg));
				
				-moz-transition-delay: .05s;    /* Firefox 4 */
				-webkit-transition-delay: .05s; /* Safari 和 Chrome */
				-o-transition-delay: .05s;      /* Opera */
				transition-delay: .05s;
				
			}
			.list2 .listMenu li:nth-child(7){
				-ms-transform: scale(1) rotate(calc(var(--range)*6deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*6deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*6deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*6deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*6deg));
				
				-moz-transition-delay: .06s;    /* Firefox 4 */
				-webkit-transition-delay: .06s; /* Safari 和 Chrome */
				-o-transition-delay: .06s;      /* Opera */
				transition-delay: .06s;
				
			}
			.list2 .listMenu li:nth-child(8){
				-ms-transform: scale(1) rotate(calc(var(--range)*7deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*7deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*7deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*7deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*7deg));
				
				-moz-transition-delay: .07s;    /* Firefox 4 */
				-webkit-transition-delay: .07s; /* Safari 和 Chrome */
				-o-transition-delay: .07s;      /* Opera */
				transition-delay: .07s;
				
			}
			.list2 .listMenu li:nth-child(9){
				-ms-transform: scale(1) rotate(calc(var(--range)*8deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*8deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*8deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*8deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*8deg));
				
				-moz-transition-delay: .08s;    /* Firefox 4 */
				-webkit-transition-delay: .08s; /* Safari 和 Chrome */
				-o-transition-delay: .08s;      /* Opera */
				transition-delay: .08s;
			}
			.list2 .listMenu li:nth-child(10){
				-ms-transform: scale(1) rotate(calc(var(--range)*9deg)); 	  /* IE 9 */
				-moz-transform: scale(1) rotate(calc(var(--range)*9deg)); 	  /* Firefox */
				-webkit-transform: scale(1) rotate(calc(var(--range)*9deg)); /* Safari 和 Chrome */
				-o-transform: scale(1) rotate(calc(var(--range)*9deg)); 	  /* Opera */
				transform: scale(1) rotate(calc(var(--range)*9deg));
				
				-moz-transition-delay: .09s;    /* Firefox 4 */
				-webkit-transition-delay: .09s; /* Safari 和 Chrome */
				-o-transition-delay: .09s;      /* Opera */
				transition-delay: .09s;
			}



/* 点击展示，点击隐藏 */
.list3{
	--range: 36;
	
	background-color: #494a5f;
	border-radius: 150px;
	height: 250px;
	position: relative;
	width: 250px;
}
	.list3 .listCenter{
		background-color: white;
		border-radius: 50px;
		cursor: pointer;
		height: 100px;
		left: 75px;
		position: absolute;
		top: 75px;
		width: 100px;
	}
		.list3:hover .listCenter{
			background-color: #d1d2d7;
		}
		.list3 .listCenter span{
			color: #99b977;
			cursor: pointer;
			font-size: 30px;
			font-weight: bolder;
			left: 0;
			position: absolute;
			text-align: center;
			top: 27px;
			width: 100%;
		}
	.list3 .listMenu {
		list-style: none;
		margin: 125px;
		padding: 0;
		position: relative;
		
		-ms-transform-origin: 0 0; 		/* IE 9 */
		-webkit-transform-origin: 0 0;	/* Safari 和 Chrome */
		-moz-transform-origin: 0 0;		/* Firefox */
		-o-transform-origin: 0 0;		/* Opera */
		
		-ms-transform: scale(0); 	  /* IE 9 */
		-moz-transform: scale(0); 	  /* Firefox */
		-webkit-transform: scale(0); /* Safari 和 Chrome */
		-o-transform: scale(0); 	  /* Opera */
		transform: scale(0);
		
		-moz-transition: -moz-transform .15s linear .2s;    /* Firefox 4 */
		-webkit-transition: -webkit-transform .15s linear .2s; /* Safari 和 Chrome */
		-o-transition: -o-transform .15s linear .2s;      /* Opera */
		transition: transform .15s linear .2s;
	}
		.list3 .listMenu:after{
			background: #494a5f;
			border-radius: 70px;
			content: "";
			height: 140px;
			left: -70px;
			position: absolute;
			top: -70px;
			width: 140px;
		}
		.list3.show .listMenu{
			-ms-transform: scale(1); 	 /* IE 9 */
			-moz-transform: scale(1); 	 /* Firefox */
			-webkit-transform: scale(1); /* Safari 和 Chrome */
			-o-transform: scale(1); 	 /* Opera */
			transform: scale(1);
			
			-moz-transition: -moz-transform .15s linear;    /* Firefox 4 */
			-webkit-transition: -webkit-transform .15s linear; /* Safari 和 Chrome */
			-o-transition: -o-transform .15s linear;      /* Opera */
			transition: transform .15s linear;
		}
		.list3 .listMenu ul{
			height: 100%;
			left: 0;
			list-style: none;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
		.list3 .listMenu li{
			cursor: pointer;
			height: 125px;
			left: 0;
			overflow: hidden;
			position: absolute;
			top: -125px;
			width: 125px;
			
			-ms-transform-origin: 0 100%; 		/* IE 9 */
			-webkit-transform-origin: 0 100%;	/* Safari 和 Chrome */
			-moz-transform-origin: 0 100%;		/* Firefox */
			-o-transform-origin: 0 100%;		/* Opera */
			
			-ms-transform: rotate(-18deg) skewY(-58deg); 	  /* IE 9 */
			-moz-transform: rotate(-18deg) skewY(-58deg); 	  /* Firefox */
			-webkit-transform: rotate(-18deg) skewY(-58deg); /* Safari 和 Chrome */
			-o-transform: rotate(-18deg) skewY(-58deg); 	  /* Opera */
			transform: rotate(-18deg) skewY(-58deg);
			
			-moz-transition: -moz-transform .15s linear;    /* Firefox 4 */
			-webkit-transition: -webkit-transform .15s linear; /* Safari 和 Chrome */
			-o-transition: -o-transform .15s linear;      /* Opera */
			transition: transform .15s linear;
		}
			.list3.show .listMenu li{
				-moz-transition: -moz-transform .15s linear .2s;    /* Firefox 4 */
				-webkit-transition: -webkit-transform .15s linear .2s; /* Safari 和 Chrome */
				-o-transition: -o-transform .15s linear .2s;      /* Opera */
				transition: transform .15s linear .2s;
			}
			.list3 .listMenu li a{
				background: #08c;
				border-radius: 250px;
				color: white;
				float: left;
				font-size: 10px;
				height: 250px;
				left: -125px;
				position: absolute;
				text-decoration: none;
				top: 0;
				width: 250px;
				
				-ms-transform: rotate(0deg) skewY(58deg);    /* IE 9 */
				-moz-transform: rotate(0deg) skewY(58deg);   /* Firefox */
				-webkit-transform: rotate(0deg) skewY(58deg);/* Safari 和 Chrome */
				-o-transform: rotate(0deg) skewY(58deg); 	 /* Opera */
				transform: rotate(0deg) skewY(58deg); 	     /* Opera */
			}
				.list3 .listMenu li a span{
					float: left;
					margin: 5px calc(50% - 25px) 0;
					text-align: center;
					word-break: break-all;
					width: 50px;
					
					-ms-transform-origin: 50% 125px; 		/* IE 9 */
					-webkit-transform-origin: 50% 125px;	/* Safari 和 Chrome */
					-moz-transform-origin: 50% 125px;		/* Firefox */
					-o-transform-origin: 50% 125px; 		/* Opera */
					
					-ms-transform: rotate(15.4deg);    /* IE 9 */
					-moz-transform: rotate(15.4deg);   /* Firefox */
					-webkit-transform: rotate(15.4deg);/* Safari 和 Chrome */
					-o-transform: rotate(15.4deg); 	   /* Opera */
					transform: rotate(15.4deg);	       /* Opera */
				}
					.list3 .listMenu li a span:nth-child(2){
						background-color: white;
						height: 16px;
						margin: 5px calc(50% - 13px) 0;
						width: 16px;
					}
					.list3 .listMenu li a span[data-text='C']{
						background-color: red;
					}
					.list3 .listMenu li a span[data-text='CSS3']{
						background-color: green;
					}
					.list3 .listMenu li a span[data-text='PHP']{
						background-color: yellow;
					}
			.list3.show .listMenu li:nth-child(1){
				-ms-transform: rotate(calc(var(--range)*-5deg)) skewY(-58deg); 	  /* IE 9 */
				-moz-transform: rotate(calc(var(--range)*-5deg)) skewY(-58deg); 	  /* Firefox */
				-webkit-transform: rotate(calc(var(--range)*-5deg)) skewY(-58deg); /* Safari 和 Chrome */
				-o-transform: rotate(calc(var(--range)*-5deg)) skewY(-58deg); 	  /* Opera */
				transform: rotate(calc(var(--range)*-5deg)) skewY(-58deg); 	      /* Opera */
			}
			.list3.show .listMenu li:nth-child(2){
				-ms-transform: rotate(calc(var(--range)*-4deg)) skewY(-58deg); 	   /* IE 9 */
				-moz-transform: rotate(calc(var(--range)*-4deg)) skewY(-58deg);    /* Firefox */
				-webkit-transform: rotate(calc(var(--range)*-4deg)) skewY(-58deg); /* Safari 和 Chrome */
				-o-transform: rotate(calc(var(--range)*-4deg)) skewY(-58deg); 	   /* Opera */
				transform: rotate(calc(var(--range)*-4deg)) skewY(-58deg);
			}
			.list3.show .listMenu li:nth-child(3){
				-ms-transform: rotate(calc(var(--range)*-3deg)) skewY(-58deg); 	   /* IE 9 */
				-moz-transform: rotate(calc(var(--range)*-3deg)) skewY(-58deg);    /* Firefox */
				-webkit-transform: rotate(-108deg) skewY(-58deg); /* Safari 和 Chrome */
				-o-transform: rotate(calc(var(--range)*-3deg)) skewY(-58deg); 	   /* Opera */
				transform: rotate(calc(var(--range)*-3deg)) skewY(-58deg);
			}
			.list3.show .listMenu li:nth-child(4){
				-ms-transform: rotate(calc(var(--range)*-2deg)) skewY(-58deg); 	   /* IE 9 */
				-moz-transform: rotate(calc(var(--range)*-2deg)) skewY(-58deg);    /* Firefox */
				-webkit-transform: rotate(calc(var(--range)*-2deg)) skewY(-58deg); /* Safari 和 Chrome */
				-o-transform: rotate(calc(var(--range)*-2deg)) skewY(-58deg); 	   /* Opera */
				transform: rotate(calc(var(--range)*-2deg)) skewY(-58deg);
			}
			.list3.show .listMenu li:nth-child(5){
				-ms-transform: rotate(calc(var(--range)*-1deg)) skewY(-58deg); 	   /* IE 9 */
				-moz-transform: rotate(calc(var(--range)*-1deg)) skewY(-58deg);    /* Firefox */
				-webkit-transform: rotate(calc(var(--range)*-1deg)) skewY(-58deg); /* Safari 和 Chrome */
				-o-transform: rotate(calc(var(--range)*-1deg)) skewY(-58deg); 	   /* Opera */
				transform: rotate(calc(var(--range)*-1deg)) skewY(-58deg);
			}
			.list3.show .listMenu li:nth-child(6){
				-ms-transform: rotate(0deg) skewY(-58deg); 	  /* IE 9 */
				-moz-transform: rotate(0deg) skewY(-58deg); 	  /* Firefox */
				-webkit-transform: rotate(0deg) skewY(-58deg); /* Safari 和 Chrome */
				-o-transform: rotate(0deg) skewY(-58deg); 	  /* Opera */
				transform: rotate(0deg) skewY(-58deg);
			}
			.list3.show .listMenu li:nth-child(7){
				-ms-transform: rotate(calc(var(--range)*1deg)) skewY(-58deg); 	   /* IE 9 */
				-moz-transform: rotate(calc(var(--range)*1deg)) skewY(-58deg);    /* Firefox */
				-webkit-transform: rotate(calc(var(--range)*1deg)) skewY(-58deg); /* Safari 和 Chrome */
				-o-transform: rotate(calc(var(--range)*1deg)) skewY(-58deg); 	   /* Opera */
				transform: rotate(calc(var(--range)*1deg)) skewY(-58deg);
			}
			.list3.show .listMenu li:nth-child(8){
				-ms-transform: rotate(calc(var(--range)*2deg)) skewY(-58deg); 	   /* IE 9 */
				-moz-transform: rotate(calc(var(--range)*2deg)) skewY(-58deg);    /* Firefox */
				-webkit-transform: rotate(calc(var(--range)*2deg)) skewY(-58deg); /* Safari 和 Chrome */
				-o-transform: rotate(calc(var(--range)*2deg)) skewY(-58deg); 	   /* Opera */
				transform: rotate(calc(var(--range)*2deg)) skewY(-58deg);
			}
			.list3.show .listMenu li:nth-child(9){
				-ms-transform: rotate(calc(var(--range)*3deg)) skewY(-58deg); 	   /* IE 9 */
				-moz-transform: rotate(calc(var(--range)*3deg)) skewY(-58deg);    /* Firefox */
				-webkit-transform: rotate(calc(var(--range)*3deg)) skewY(-58deg); /* Safari 和 Chrome */
				-o-transform: rotate(calc(var(--range)*3deg)) skewY(-58deg); 	   /* Opera */
				transform: rotate(calc(var(--range)*3deg)) skewY(-58deg);
			}
			.list3.show .listMenu li:nth-child(10){
				-ms-transform: rotate(calc(var(--range)*4deg)) skewY(-58deg); 	   /* IE 9 */
				-moz-transform: rotate(calc(var(--range)*4deg)) skewY(-58deg);    /* Firefox */
				-webkit-transform: rotate(calc(var(--range)*4deg)) skewY(-58deg); /* Safari 和 Chrome */
				-o-transform: rotate(calc(var(--range)*4deg)) skewY(-58deg); 	   /* Opera */
				transform: rotate(calc(var(--range)*4deg)) skewY(-58deg);
			}



/* 点击展示下拉框具体内容，点击其他地方恢复原状 */
.list4{
	color: white;
	margin-top: 120px;
	position: relative;
}
	.list4:before{
		background-color: #424a4f;
		content: "";
		height: 100%;
		left: 0;
		top: 0;
		pointer-events: none;
		position: absolute;
		width: 100%;
		z-index: -1;
		
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
	}
	.list4 .listCenter{
		cursor: pointer; float: left; opacity: 1; padding: 16px; visibility: visible; width: 200px;
		
		-webkit-transition: -webkit-transform 0.3s, opacity 0.1s linear 0.01S, visibility 0.1s linear 0.01S;
		transition: transform 0.3s, opacity 0.1s linear 0.01S, visibility 0.1s linear 0.01S;
	}
	.list4 .listMenu{ left: 0; list-style: none; opacity: 0; top: -106px; margin: 10px 10px; padding: 0; position: absolute; visibility: hidden; width: 212px; }
		.list4 .listMenu li{
			cursor: pointer; margin: 0; padding: 7px 10px; width: calc(100% - 20px);
			
			-webkit-transform: translateX(232px); transform: translateX(232px);
		}
			.list4 .listMenu li:nth-child(1){ -webkit-transition: -webkit-transform 0.1s linear 0.00s; transition: transform 0.1s linear 0.00s; }
			.list4 .listMenu li:nth-child(2){ -webkit-transition: -webkit-transform 0.1s linear 0.05s; transition: transform 0.1s linear 0.05s; }
			.list4 .listMenu li:nth-child(3){ -webkit-transition: -webkit-transform 0.1s linear 0.10s; transition: transform 0.1s linear 0.10s; }
			.list4 .listMenu li:nth-child(4){ -webkit-transition: -webkit-transform 0.1s linear 0.15s; transition: transform 0.1s linear 0.15s; }
			.list4 .listMenu li:nth-child(5){ -webkit-transition: -webkit-transform 0.1s linear 0.20s; transition: transform 0.1s linear 0.20s; }
			.list4 .listMenu li:nth-child(6){ -webkit-transition: -webkit-transform 0.1s linear 0.25s; transition: transform 0.1s linear 0.25s; }
			.list4 .listMenu li:nth-child(7){ -webkit-transition: -webkit-transform 0.1s linear 0.30s; transition: transform 0.1s linear 0.30s; }

	.list4.showList:before{
		-webkit-transform: scaleY(5);
		transform: scaleY(5);
	}
	.list4.showList .listCenter{
		opacity: 0; visibility: hidden;
		
		-webkit-transform: translateX(-232px);
		transform: translateX(-232px);
	}
	.list4.showList .listMenu{ opacity: 1; visibility: visible; }
		.list4.showList .listMenu li{ -webkit-transform: translateX(0); transform: translateX(0); }